@charset "UTF-8";

@font-face {
    font-family: 'SF UI';
    src: url(fonts/SFUIText-Regular.woff) format('truetype');
    font-weight: normal;
} 

/* Variáveis */

:root {
    --cor0: #4831D4;
    --cor1: #CCF381;
    --cor2: #fff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family:'SF UI', Times, serif; 
    height: 100vh;
    display: flex;
}

main {
    background-color: var(--cor0);
    width: 65%;
}

#nome {
    font-size: 22px;
    margin: 35px;
}

#nome > p > a {
    text-decoration: none;
    color: var(--cor1);
}

#rede {
    margin: 125px 200px 0px 200px;
}

.ionicon {
    fill: white;
}

#prof {
    font-size: 35px;
    margin: 0 200px;
    color: var(--cor1);
}

#prof > h1 > span > span {
    color: var(--cor2);
}

#expe {
    font-size: 16px;
    margin: 25px 200px 0px 200px;
    color: var(--cor2);
}

section {
    background-color: var(--cor1);
    width: 35%;
}
